html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 60px; /* Margin bottom by footer height */
}

/*
 * Custom translucent site header
 */
.site-header {
    background-color: rgba(0, 0, 0, .85);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
    color: #999;
    transition: ease-in-out color .15s;
}
.site-header a:hover {
    color: #fff;
    text-decoration: none;
}

/*
*  main
*/
main{
    margin-top: 30px;
}

.img50{
    width: 50%;
}

/*
*  Custom footer
*/
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: rgba(0, 0, 0, .85);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    text-align: center;
}




#eliminarContainer{
    width: 20%;
    height: 40px;
    margin: auto;
    background-color: #dc3545;
    box-sizing: 100;
    z-index: 100;
    display: flex;
    justify-content: space-evenly;
    align-content: stretch;
    align-items: center;
    border-radius: 13px;
}

#AceptarEliminado{
    border: none;
    color: white;
    background-color: #ff0018;
    border-radius: 5px;
    width: 24%;
    /* margin-bottom: 10px; */

}


#CancelarEliminado{

    border: none;
    color: white;
    background-color: #aa9b9b;
    border-radius: 5px;
    width: 24%;


}
